#home-header {
    $headerH: 65vh;
    position: relative;
    height: $headerH;
    background-image: url(../../../images/5924.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); // Adjust opacity as needed
        z-index: 9;
    }

    .header-content {
        position: absolute;
        inset: 0px !important;
        height: 100%;
        width: 100%;
        z-index: 10;

        .content {
            display: none;

            .title {
                font-size: 42px !important;
                font-weight: bold;
            }

            .title,
            p {
                text-align: center;
                color: #fff;
            }

            p {
                margin-top: 15px;
                font-size: 22px;
                color: #e3e3e3 !important;
            }
        }

        .active {
            display: block;
        }

        .animation-up {
            animation: slideInUp 1s ease-in-out;

            @keyframes slideInUp {
                from {
                    transform: translateY(100%);
                    opacity: 0;
                }

                to {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }

    form {
        $inputH: 55px;
        input {
            height: $inputH;
            padding: 10px 16px;
            font-size: 18px;
            padding-right: 55px;
            border-radius: 100px;
            border: none;
        }

        .form-group {
            position: relative;
            .icon-search {
                position: absolute;
                top: 12px;
                right: 20px;
                font-size: 22px;
                color: #6d6d6d;
            }

            button {
                position: absolute;
                left: 5px;
                top: 5px;
                width: 100px;
                height: calc($inputH - 10px);
                background-color: var(--brand-color);
                color: var(--color-on-brand-main-color);
                outline: none;
                border: none;
                border-radius: 100px 0px 0px 100px;
                font-weight: 600;
            }
        }
    }
}

#services {
    padding: 80px 0px;
    h2 {
        font-size: 30px;
    }

    .card {
        .post-card {
            padding: 25px;
            margin-bottom: 15px;
            min-height: 255px;
            h5 {
                font-size: 18px;
            }

            .post-card-image {
                box-shadow: none !important;
                margin-top: 0px;
                border-radius: 0px;
                text-align: center;
                margin-bottom: 10px;
                img {
                    width: 64px;
                    height: 64px;
                    object-fit: contain;
                    border-radius: 0px;
                    transform: scale(1) !important;
                }
            }
        }
    }
}

#experiences {
    padding: 80px 0px;
    .bg-theme {
        width: 100%;
        background-image: url(../../../images/experiences/elaosboa52048.jpg);
        background-size: cover;
        background-position: center center;
        position: relative;

        &,
        &::after,
        img {
            border-radius: 25px;
        }

        &::after {
            content: "";
            background-color: rgba(0, 0, 0, 0.5);
            inset: 0px;
            position: absolute;
            z-index: 1;
        }
        img {
            position: relative;
            z-index: 2;
            width: 100%;
            max-height: 400px;
            object-fit: fill;
        }
    }

    .section-title {
        font-size: 22px;
        color: var(--brand-color);
        margin-bottom: 10px;
    }

    li {
        position: relative;
        padding-right: 15px;
        margin-bottom: 8px;
        &::after {
            content: "";
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: transparent;
            border: 1px solid gray;
            right: 0px;
            top: 8px;
        }
    }
}

#articles {
    padding: 80px 0px;
    .card {
        .post-card {
            padding: 20px;
            margin-bottom: 30px;
            min-height: 255px;
            h5 {
                font-size: 18px;
                margin-top: 20px;
            }

            .post-card-image {
                box-shadow: none !important;
                margin-top: 0px;
                text-align: center;
                margin-bottom: 10px;
            }
        }
    }
}

#books {
    padding: 60px 0px;
    img {
        border-radius: 15px;
    }
    .item {
        a {
            position: relative;
            overflow: hidden;
            .notfound-badge {
                position: absolute;
                top: 15px;
                background-color: rgb(238, 0, 0);
                color: #fff;
                padding: 3px 0px;
                width: 200px;
                text-align: center;
                transform: rotate(-30deg);
                left: -50px;
                font-size: 14px;
                z-index: 1;
            }
        }
    }
}

.newslettre {
    background-color: #f9f9ff;
}

.footer {
    .copyright {
        border-top: none !important;
    }
}

.dark {
    .newslettre {
        background-color: #1d1d1d;
    }
}

#thanks-keyword {
    h2 {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0px;
        }
    }
}

@media (max-width: 500px) {
    #home-header {
        .header-content {
            .content {
                .title {
                    font-size: 28px !important;
                    font-weight: bold;
                }
                p {
                    font-size: 18px;
                }
            }
        }

        form {
            input {
                font-size: 16px;
            }

            .form-group {
                position: relative;
                .icon-search {
                    top: 15px;
                }

                button {
                    width: 75px;
                }
            }
        }
    }
}
