#gallery {
    #uploader {
        .box {
            padding: 70px 10px;
            // border: dashed 3px var(--secondary-color);
            position: relative;
            .progress {
                position: absolute;
                top: 0px;
                right: 0px;
                left: 0px;
                border-radius: var(--border-radius) var(--border-radius) 0px 0px !important;
                width: 100%;
                height: 20px;
                background-color: #f2f2f2;
            }

            .upload-icon {
                i,
                svg {
                    font-size: 34px;
                }
                position: absolute;
                top: 35px;
                right: calc(50% - 15px);
            }
            .icon-anim {
                animation-name: upload;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
        }
        .active {
            border: solid 3px var(--secondary-color) !important;
        }
    }

    /*


    */
    .thumbnails-col {
        .thumbnails-box {
            cursor: pointer;
            $imgH: 90px;
            // Image
            height: $imgH;
            text-align: center;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            // Display File Name
            span {
                line-height: $imgH;
                font-size: 28px;
                font-weight: bold;
                opacity: 0.2;
            }
        }
    }

    #show-box,
    .show-box-overlay {
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        display: none;
    }
    .show-box-overlay {
        cursor: zoom-out;
    }
    // Add Border
    #show-box,
    .image,
    #img-preview,
    .content {
        border-radius: var(--border-radius);
    }
    #file-preview {
        font-size: 50px;
        font-weight: bold;
        opacity: 0.2;
    }
    #show-box {
        background-color: var(--background);
        z-index: 99999999999;
        width: 90%;
        height: 90%;
        top: 5%;
        right: 5%;
        overflow-y: scroll !important;
        overflow-x: hidden !important;

        /* width */
        &::-webkit-scrollbar {
            width: 7px;
            cursor: pointer;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f3f4f6;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: var(--main-color);
        }

        .content,
        .row {
            height: 100%;
        }
        .content {
            .image {
                background-color: var(--card-background);
                width: 100%;
                height: 100%;

                img {
                    max-width: 100%;
                    max-height: 100%;

                    object-fit: contain !important;
                }
            }
            .details {
                padding: 15px;
            }
        }

        // Controls
        .controls {
            text-align: right;
            button {
                width: 40px;
                height: 40px;
                background-color: var(--card-background);
                text-align: center;
                color: var(--card-color);
                &:hover {
                    background-color: var(--btn-main-background);
                    color: var(--btn-main-color);
                }

                &:disabled {
                    opacity: 0.3;
                }
            }
            #btn-close {
                &:hover {
                    background-color: red;
                    color: #fff;
                }
            }
            i,
            svg {
                font-size: 24px;
            }
        }

        // Info Table In Slider
        .info-table {
            #file-name {
                word-wrap: break-word;
                max-width: 300px;
            }
            .info-content {
                font-size: 14px;
                font-weight: 400;
                background-color: var(--card-background) !important;
            }
        }
        table {
            tr th {
                font-size: 14px;
                font-weight: 400;
                background-color: var(--card-background) !important;
            }
        }
    }

    .show-box-overlay {
        width: 100%;
        height: 100%;
        z-index: 9999;
        background-color: rgba(0, 0, 0, 0.85);
    }
}

@keyframes upload {
    from {
        top: 35px;
    }
    to {
        top: 30px;
    }
}

@media (max-width: 720px) {
    #gallery {
        // Remove Border

        #show-box,
        .image,
        .content {
            border-radius: 0px;
        }
        #show-box {
            width: 100%;
            height: 100%;
            top: 0%;
            left: 0%;
            .content {
                .image {
                    padding: 15px !important;
                }
            }

            // Add Srcoll
            overflow-y: scroll;
            overflow-x: hidden !important;

            // Controls
            .controls {
                text-align: right;
                button {
                    width: 40px;
                    height: 40px;
                    background-color: #ffffff;
                    text-align: center;
                    &:hover {
                        background-color: var(--btn-main-background);
                        color: var(--btn-main-color);
                    }

                    &:disabled {
                        opacity: 0.3;
                    }
                }
                #btn-close {
                    &:hover {
                        background-color: red;
                        color: #fff;
                    }
                }
                i,
                svg {
                    font-size: 24px;
                }
            }

            // Info Table In Slider
            .info-table {
                table {
                    tr th {
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    #gallery {
        // Remove Border

        #show-box,
        .image,
        .content {
            border-radius: 0px;
        }
        #show-box {
            width: 100%;
            height: 100%;
            top: 0%;
            left: 0%;
            .content {
                .image {
                    padding: 15px !important;
                }
            }

            // Add Srcoll
            overflow-y: scroll;
            overflow-x: hidden !important;

            // Controls
            .controls {
                text-align: right;
                button {
                    width: 40px;
                    height: 40px;
                    background-color: #ffffff;
                    text-align: center;
                    &:hover {
                        background-color: var(--btn-main-background);
                        color: var(--btn-main-color);
                    }

                    &:disabled {
                        opacity: 0.3;
                    }
                }
                #btn-close {
                    &:hover {
                        background-color: red;
                        color: #fff;
                    }
                }
                i,
                svg {
                    font-size: 24px;
                }
            }

            // Info Table In Slider
            .info-table {
                table {
                    tr th {
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
@media (max-height: 768px) {


    #gallery {
        // Remove Border

        #show-box,
        .image,
        .content {
            border-radius: 0px;
        }
        #show-box {
            width: 100%;
            height: 100%;
            top: 0%;
            right: 0% !important;
            .content {
                .image {
                    padding: 15px !important;
                }
            }

            // Add Srcoll
            overflow-y: scroll;
            overflow-x: hidden !important;

            // Controls
            .controls {
                text-align: right;
                button {
                    width: 40px;
                    height: 40px;
                    background-color: #ffffff;
                    text-align: center;
                    &:hover {
                        background-color: var(--btn-main-background);
                        color: var(--btn-main-color);
                    }

                    &:disabled {
                        opacity: 0.3;
                    }
                }
                #btn-close {
                    &:hover {
                        background-color: red;
                        color: #fff;
                    }
                }
                i,
                svg {
                    font-size: 24px;
                }
            }

            // Info Table In Slider
            .info-table {
                table {
                    tr th {
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
