#gallery {
  /*


  */
}
#gallery #uploader .box {
  padding: 70px 10px;
  position: relative;
}
#gallery #uploader .box .progress {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  border-radius: var(--border-radius) var(--border-radius) 0px 0px !important;
  width: 100%;
  height: 20px;
  background-color: #f2f2f2;
}
#gallery #uploader .box .upload-icon {
  position: absolute;
  top: 35px;
  right: calc(50% - 15px);
}
#gallery #uploader .box .upload-icon i,
#gallery #uploader .box .upload-icon svg {
  font-size: 34px;
}
#gallery #uploader .box .icon-anim {
  animation-name: upload;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#gallery #uploader .active {
  border: solid 3px var(--secondary-color) !important;
}
#gallery .thumbnails-col .thumbnails-box {
  cursor: pointer;
  height: 90px;
  text-align: center;
}
#gallery .thumbnails-col .thumbnails-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#gallery .thumbnails-col .thumbnails-box span {
  line-height: 90px;
  font-size: 28px;
  font-weight: bold;
  opacity: 0.2;
}
#gallery #show-box,
#gallery .show-box-overlay {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  display: none;
}
#gallery .show-box-overlay {
  cursor: zoom-out;
}
#gallery #show-box,
#gallery .image,
#gallery #img-preview,
#gallery .content {
  border-radius: var(--border-radius);
}
#gallery #file-preview {
  font-size: 50px;
  font-weight: bold;
  opacity: 0.2;
}
#gallery #show-box {
  background-color: var(--background);
  z-index: 99999999999;
  width: 90%;
  height: 90%;
  top: 5%;
  right: 5%;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  /* width */
  /* Track */
  /* Handle */
}
#gallery #show-box::-webkit-scrollbar {
  width: 7px;
  cursor: pointer;
}
#gallery #show-box::-webkit-scrollbar-track {
  background: #f3f4f6;
}
#gallery #show-box::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
#gallery #show-box .content,
#gallery #show-box .row {
  height: 100%;
}
#gallery #show-box .content .image {
  background-color: var(--card-background);
  width: 100%;
  height: 100%;
}
#gallery #show-box .content .image img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}
#gallery #show-box .content .details {
  padding: 15px;
}
#gallery #show-box .controls {
  text-align: right;
}
#gallery #show-box .controls button {
  width: 40px;
  height: 40px;
  background-color: var(--card-background);
  text-align: center;
  color: var(--card-color);
}
#gallery #show-box .controls button:hover {
  background-color: var(--btn-main-background);
  color: var(--btn-main-color);
}
#gallery #show-box .controls button:disabled {
  opacity: 0.3;
}
#gallery #show-box .controls #btn-close:hover {
  background-color: red;
  color: #fff;
}
#gallery #show-box .controls i,
#gallery #show-box .controls svg {
  font-size: 24px;
}
#gallery #show-box .info-table #file-name {
  word-wrap: break-word;
  max-width: 300px;
}
#gallery #show-box .info-table .info-content {
  font-size: 14px;
  font-weight: 400;
  background-color: var(--card-background) !important;
}
#gallery #show-box table tr th {
  font-size: 14px;
  font-weight: 400;
  background-color: var(--card-background) !important;
}
#gallery .show-box-overlay {
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.85);
}

@keyframes upload {
  from {
    top: 35px;
  }
  to {
    top: 30px;
  }
}
@media (max-width: 720px) {
  #gallery #show-box,
  #gallery .image,
  #gallery .content {
    border-radius: 0px;
  }
  #gallery #show-box {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    overflow-y: scroll;
    overflow-x: hidden !important;
  }
  #gallery #show-box .content .image {
    padding: 15px !important;
  }
  #gallery #show-box .controls {
    text-align: right;
  }
  #gallery #show-box .controls button {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    text-align: center;
  }
  #gallery #show-box .controls button:hover {
    background-color: var(--btn-main-background);
    color: var(--btn-main-color);
  }
  #gallery #show-box .controls button:disabled {
    opacity: 0.3;
  }
  #gallery #show-box .controls #btn-close:hover {
    background-color: red;
    color: #fff;
  }
  #gallery #show-box .controls i,
  #gallery #show-box .controls svg {
    font-size: 24px;
  }
  #gallery #show-box .info-table table tr th {
    font-size: 14px;
    font-weight: 400;
  }
}
@media (max-width: 1024px) {
  #gallery #show-box,
  #gallery .image,
  #gallery .content {
    border-radius: 0px;
  }
  #gallery #show-box {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    overflow-y: scroll;
    overflow-x: hidden !important;
  }
  #gallery #show-box .content .image {
    padding: 15px !important;
  }
  #gallery #show-box .controls {
    text-align: right;
  }
  #gallery #show-box .controls button {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    text-align: center;
  }
  #gallery #show-box .controls button:hover {
    background-color: var(--btn-main-background);
    color: var(--btn-main-color);
  }
  #gallery #show-box .controls button:disabled {
    opacity: 0.3;
  }
  #gallery #show-box .controls #btn-close:hover {
    background-color: red;
    color: #fff;
  }
  #gallery #show-box .controls i,
  #gallery #show-box .controls svg {
    font-size: 24px;
  }
  #gallery #show-box .info-table table tr th {
    font-size: 14px;
    font-weight: 400;
  }
}
@media (max-height: 768px) {
  #gallery #show-box,
  #gallery .image,
  #gallery .content {
    border-radius: 0px;
  }
  #gallery #show-box {
    width: 100%;
    height: 100%;
    top: 0%;
    right: 0% !important;
    overflow-y: scroll;
    overflow-x: hidden !important;
  }
  #gallery #show-box .content .image {
    padding: 15px !important;
  }
  #gallery #show-box .controls {
    text-align: right;
  }
  #gallery #show-box .controls button {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    text-align: center;
  }
  #gallery #show-box .controls button:hover {
    background-color: var(--btn-main-background);
    color: var(--btn-main-color);
  }
  #gallery #show-box .controls button:disabled {
    opacity: 0.3;
  }
  #gallery #show-box .controls #btn-close:hover {
    background-color: red;
    color: #fff;
  }
  #gallery #show-box .controls i,
  #gallery #show-box .controls svg {
    font-size: 24px;
  }
  #gallery #show-box .info-table table tr th {
    font-size: 14px;
    font-weight: 400;
  }
}/*# sourceMappingURL=gallery.css.map */