

body {
    padding-top: 20px;
}
h1 {
    font-size: 20px;
}

.post-card {
    margin-bottom: 30px !important;
    min-height: 450px;
    h5 {
        font-size: 18px;
        margin-top: 20px;
    }

    .post-card-image {
        box-shadow: none !important;
        margin-top: 0px !important;
        text-align: center;
        margin-bottom: 10px;
    }
}
