$sizes: (64, 100, 128, 256);

@each $size in $sizes {
    .w#{$size} {
        width: $size + px;
    }

    .h#{$size} {
        height: $size + px;
    }
}

// Image Object
.object-content {
    object-fit: contain;
}
.object-cover {
    object-fit: cover;
}
