/*
|
| System Color
|
*/
/*
|
| Soft Colors
|
*/
/*
|
| Soft Background
|
*/
.bg-soft-success {
  background-color: rgba(10, 179, 156, 0.18);
}

.bg-soft-info {
  background-color: rgba(41, 156, 219, 0.18);
}

.bg-soft-primary {
  background-color: rgba(0, 123, 255, 0.18);
}

.bg-soft-warning {
  background-color: rgba(247, 203, 112, 0.18);
}

.bg-soft-danger {
  background-color: rgba(240, 101, 72, 0.18);
}

.bg-soft-light {
  background-color: rgba(255, 255, 255, 0.2);
}

.bg-soft-main {
  background-color: var(--soft-main-color);
}

.bg-main {
  background-color: var(--background);
}

.table-modern th,
.table-modern td {
  white-space: nowrap;
}
.table-modern thead th {
  border-bottom: 1px solid #dde1ef !important;
  border-top: none;
}
.table-modern tbody td,
.table-modern tbody th {
  border-bottom: 1px solid #dde1ef !important;
}
.table-modern tbody tr:last-of-type td {
  border-bottom: none !important;
}

.remove-borders tbody td,
.remove-borders th {
  border: 0px !important;
}

.table-hover {
  transition: background-color 0.2s linear;
}
.table-hover:hover {
  background-color: var(--background);
}

@media (min-width: 1640px) {
  .col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
.alert-box-success {
  margin-bottom: 0px !important;
  background-color: #76aa60;
  padding: 10px 15px;
  border-radius: var(--border-radius);
  box-shadow: none !important;
  color: #fff;
}

.alert-box-error {
  margin-bottom: 0px !important;
  background-color: #bd362f;
  padding: 10px 15px;
  border-radius: var(--border-radius);
  box-shadow: none !important;
  color: #fff;
}

.alert-box-warning {
  margin-bottom: 0px !important;
  background-color: #ffc107;
  padding: 10px 15px;
  border-radius: var(--border-radius);
  box-shadow: none !important;
  color: #000;
}

.alert-box-info {
  margin-bottom: 0px !important;
  background-color: #cce5ff;
  padding: 10px 15px;
  border-radius: var(--border-radius);
  box-shadow: none !important;
  color: #004085;
}

.alert-box-notfound {
  margin-bottom: 0px !important;
  background-color: #ffc107;
  padding: 10px 15px;
  border-radius: var(--border-radius);
  box-shadow: none !important;
  color: #000;
}

.w64 {
  width: 64px;
}

.h64 {
  height: 64px;
}

.w100 {
  width: 100px;
}

.h100 {
  height: 100px;
}

.w128 {
  width: 128px;
}

.h128 {
  height: 128px;
}

.w256 {
  width: 256px;
}

.h256 {
  height: 256px;
}

.object-content {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay {
  inset: 0px;
  height: 100%;
  width: 100%;
}

.overlay-black {
  background: linear-gradient(0deg, rgba(24, 25, 26, 0.762342437) 5%, rgba(33, 37, 41, 0.3589810924) 80%);
}

/*
|
| Soft Badge
|
*/
.badge-soft-success {
  background-color: rgba(10, 179, 156, 0.18);
  color: #24cd91;
}

.badge-soft-info {
  background-color: rgba(41, 156, 219, 0.18);
  color: var(--info);
}

.badge-soft-primary {
  background-color: rgba(0, 123, 255, 0.18);
  color: var(--primary);
}

.badge-soft-warning {
  background-color: rgba(247, 203, 112, 0.18);
  color: var(--warning);
}

.badge-soft-danger {
  background-color: rgba(240, 101, 72, 0.18);
  color: var(--danger);
}

.badge-soft-light {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--light);
}

.badge-soft-main {
  background-color: var(--soft-main-color);
  color: var(--main-color);
}

.badge-main {
  background-color: var(--background);
}

.dash-badge {
  font-size: 0.6906rem;
  padding: 3px 5px;
  border-radius: var(--border-radius);
  font-weight: 700;
}

.badge-success {
  background-color: #24cd91 !important;
}

.badge-danger {
  background-color: #f96766 !important;
}

.shadow-none {
  box-shadow: none !important;
}

/* Main Border Radius */
.radius {
  border-radius: var(--border-radius);
}

.border-b {
  border-bottom: 1px solid #f5f6fa;
}

.btn {
  padding: calc(0.5rem + 1px) calc(1rem + 1px);
  border-radius: var(--border-radius) !important;
  transition: all 0.1s linear;
}
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.btn:hover {
  opacity: 0.9;
}
.btn:active {
  opacity: 0.9;
  transform: scale(0.94);
}
.btn:focus {
  box-shadow: none !important;
}

.btn-sm {
  padding: 0.25rem 0.5rem !important;
  font-size: 0.875rem !important;
  line-height: 1.5 !important;
  border-radius: var(--border-radius) !important;
}

/*
|
| Soft Buttons
|
*/
.btn-soft-success {
  background-color: rgba(10, 179, 156, 0.18);
  color: #24cd91 !important;
  border-radius: var(--border-radius);
}

.btn-soft-info {
  background-color: rgba(41, 156, 219, 0.18);
  color: var(--info) !important;
  border-radius: var(--border-radius);
}

.btn-soft-primary {
  background-color: rgba(0, 123, 255, 0.18);
  color: var(--primary) !important;
  border-radius: var(--border-radius);
}

.btn-soft-warning {
  background-color: rgba(247, 203, 112, 0.18);
  color: var(--warning) !important;
  border-radius: var(--border-radius);
}

.btn-soft-danger {
  background-color: rgba(240, 101, 72, 0.18);
  color: var(--danger) !important;
  border-radius: var(--border-radius);
}

.btn-soft-light {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--light) !important;
  border-radius: var(--border-radius);
}

.btn-soft-main {
  background-color: var(--soft-main-color);
  color: var(--main-color) !important;
  border-radius: var(--border-radius);
}

.btn-main {
  background-color: var(--btn-main-background);
  color: var(--btn-main-color) !important;
  font-weight: 500 !important;
}

.btn-second {
  background-color: var(--btn-second-background);
  color: var(--btn-second-color) !important;
}

.table-btn-edit,
.table-btn-delete,
.table-btn-show {
  border-radius: var(--border-radius);
  display: inline-block;
  text-align: center;
  font-size: 19px;
  width: 32px;
  height: 30px;
  line-height: 35px !important;
}

.table-btn-show {
  background-color: var(--soft-main-color);
  color: var(--main-color);
}

.table-btn-edit {
  background-color: rgba(0, 123, 255, 0.18);
  color: var(--primary);
}

.table-btn-delete {
  background-color: rgba(240, 101, 72, 0.18);
  color: var(--danger);
}

.text-main {
  color: var(--color);
}

.text-second {
  color: var(--color-second);
}

.text-decoration-underline {
  text-decoration: underline !important;
}

/* Box Style */
.box {
  padding: 2rem;
  background-color: var(--card-background);
  border: var(--card-border);
  border-radius: var(--border-radius);
  word-wrap: break-word;
  box-shadow: var(--card-shadow);
  margin-bottom: 20px;
}
.box .box-title {
  padding: 0px 1rem;
  font-size: 16px;
  font-weight: 600;
}
.box .box-body {
  padding: 0px 1rem;
}

/*
- Dirs
- Scroll
- Cursor
- Display
*/
/*
|
| Dir
|
*/
.dir-rtl {
  direction: rtl !important;
}

.dir-ltr {
  direction: ltr !important;
}

/*
|
| Scroll
|
*/
.scroll {
  overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
  width: 5px;
}
.scroll::-webkit-scrollbar-track {
  background: var(--background);
}
.scroll::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: var(--border-radius);
}

.scroll-w4::-webkit-scrollbar {
  width: 4px;
}

.scroll-w3::-webkit-scrollbar {
  width: 3px;
}

.scroll-none::-webkit-scrollbar {
  width: none;
}

/*
|
| Cursor
|
*/
.cursor-pointer,
.pointer {
  cursor: pointer;
}

/*
|
| Display
|
*/
.display-none {
  display: none;
}

/*
 |
 | Sizes
 |
*/
.w-128px {
  width: 128px;
}

.w-256px {
  width: 256px;
}

/*
 |
 | Font Size
 |
*/
.font-9 {
  font-size: 9px !important;
}

.font-10 {
  font-size: 10px !important;
}

.font-11 {
  font-size: 11px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-13 {
  font-size: 13px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-15 {
  font-size: 15px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-17 {
  font-size: 17px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-19 {
  font-size: 19px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-21 {
  font-size: 21px !important;
}

.font-22 {
  font-size: 22px !important;
}

.font-23 {
  font-size: 23px !important;
}

.font-24 {
  font-size: 24px !important;
}

.font-25 {
  font-size: 25px !important;
}

.font-26 {
  font-size: 26px !important;
}

.font-27 {
  font-size: 27px !important;
}

.font-28 {
  font-size: 28px !important;
}

.font-29 {
  font-size: 29px !important;
}

.font-30 {
  font-size: 30px !important;
}

.font-31 {
  font-size: 31px !important;
}

.font-32 {
  font-size: 32px !important;
}

.font-33 {
  font-size: 33px !important;
}

.font-34 {
  font-size: 34px !important;
}

.font-35 {
  font-size: 35px !important;
}

.font-36 {
  font-size: 36px !important;
}

.font-37 {
  font-size: 37px !important;
}

.font-38 {
  font-size: 38px !important;
}

.font-39 {
  font-size: 39px !important;
}

.font-40 {
  font-size: 40px !important;
}

.font-41 {
  font-size: 41px !important;
}

.font-42 {
  font-size: 42px !important;
}

.font-43 {
  font-size: 43px !important;
}

.font-44 {
  font-size: 44px !important;
}

.font-45 {
  font-size: 45px !important;
}

.font-46 {
  font-size: 46px !important;
}

.font-47 {
  font-size: 47px !important;
}

.font-48 {
  font-size: 48px !important;
}

.font-49 {
  font-size: 49px !important;
}

.font-50 {
  font-size: 50px !important;
}

.font-51 {
  font-size: 51px !important;
}

.font-52 {
  font-size: 52px !important;
}

.font-53 {
  font-size: 53px !important;
}

.font-54 {
  font-size: 54px !important;
}

.font-55 {
  font-size: 55px !important;
}

.font-56 {
  font-size: 56px !important;
}

.font-57 {
  font-size: 57px !important;
}

.font-58 {
  font-size: 58px !important;
}

.font-59 {
  font-size: 59px !important;
}

.font-60 {
  font-size: 60px !important;
}

.font-61 {
  font-size: 61px !important;
}

.font-62 {
  font-size: 62px !important;
}

/*
 |
 | Font Weight
 |
*/
.font-weight-100 {
  font-weight: 100 !important;
}

.font-weight-200 {
  font-weight: 200 !important;
}

.font-weight-300 {
  font-weight: 300 !important;
}

.font-weight-400 {
  font-weight: 400 !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.font-weight-700 {
  font-weight: 700 !important;
}

.font-weight-800 {
  font-weight: 800 !important;
}

.font-weight-900 {
  font-weight: 900 !important;
}

.table-modern tbody {
  background-color: #fff;
}
.table-modern tbody td,
.table-modern tbody th {
  border-bottom: 1px solid #f5f6fa !important;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 60px;
}
.table-modern tbody tr {
  transition: background-color 0.2s linear;
}
.table-modern tbody tr:hover {
  background-color: var(--background);
}
.table-modern .border-b:last-of-type {
  border-bottom: none !important;
}/*# sourceMappingURL=components.css.map */