/*
|
| System Color
|
*/
$success: #24cd91; //var(--success);
$info: var(--info);
$primary: var(--primary);
$warning: var(--warning);
$danger: var(--danger);
$light: var(--light);

/*
|
| Soft Colors
|
*/
$soft-success: rgba(10, 179, 156, 0.18);
$soft-info: rgba(41, 156, 219, 0.18);
$soft-primary: rgba(0, 123, 255, 0.18);
$soft-warning: rgba(247, 203, 112, 0.18);
$soft-danger: rgba(240, 101, 72, 0.18);
$soft-light: rgba(255, 255, 255, 0.2);
