// Header Section
$header-height: 340px;
$header-mobile-height: $header-height + 100px;
$avatar-size: 128px;
$banner-height: 38px;


// Profile Section
$profile-margin-top: 90px;
$social-media-links-size: 30px;