/*
|
| System Color
|
*/
/*
|
| Soft Colors
|
*/
header {
  height: 340px;
  background: center center no-repeat;
  background-size: cover;
  position: relative;
}
header #btn-choose-cover {
  position: absolute;
  top: 15px;
  width: 160px;
}
header #form-change-cover button {
  position: absolute;
  top: 15px;
}
header #form-change-cover .controls {
  position: absolute;
  top: 0px;
}

#edit {
  margin-top: -90px;
}
#edit #avatar .image {
  position: relative;
}
#edit #avatar .image #btn-choose-profile-img {
  position: absolute;
  bottom: 0px;
  background-color: var(--card-background);
  border: 1px solid var(--border-color);
  width: 35px;
  height: 35px;
  line-height: 33px;
  text-align: center;
  color: var(--color);
  cursor: pointer;
  right: 0px;
}
#edit #portfolio {
  position: relative;
}
#edit #portfolio .display-social-media .icon,
#edit #portfolio .display-social-media .form-group {
  display: inline-block;
}
#edit #portfolio .display-social-media .icon {
  color: #fff;
  text-align: center;
  height: 32px;
  width: 32px;
  line-height: 32px;
  border-radius: 50%;
  font-size: 14px;
}
#edit #portfolio .display-social-media .form-group {
  width: calc(100% - 36.5px);
}
#edit #portfolio .display-social-media .form-group input {
  height: 36px !important;
}
#edit #portfolio .display-social-media .form-group:last-of-type {
  margin-bottom: 0px !important;
}
#edit #portfolio #btn-portfolio-open-model {
  position: absolute;
  top: 0px;
  margin: 15px 15px;
}
#edit #portfolio #portfolioModel .input-social-media-url {
  display: none;
}
#edit #profile-details .box-head .nav-tabs {
  width: 100%;
}
#edit #profile-details .box-head .nav-tabs .nav-link {
  border: none;
  font-size: 14px;
  color: var(--color-second);
  font-weight: 600;
  padding: 15px 8px;
  margin: 0px 5px;
}
#edit #profile-details .box-head .nav-tabs .active {
  border-bottom: 1px solid var(--main-color);
  color: var(--main-color) !important;
}
#edit #profile-details #experience #form-inputs .row {
  position: relative;
  padding-top: 18px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
#edit #profile-details #experience #form-inputs .row:first-of-type {
  padding-top: 0px !important;
}
#edit #profile-details #experience #form-inputs .row:first-of-type .btn-delete-job {
  top: -4px;
}
#edit #profile-details #experience #form-inputs .row .btn-delete-job {
  position: absolute;
  top: 14px;
  margin: 0px 15px;
  cursor: pointer;
  padding: 2px 8px !important;
}
#edit #profile-details #experience #form-inputs .add-new-effect {
  animation: newExpEffect 2s linear 0s alternate;
}
@keyframes newExpEffect {
  25% {
    background-color: rgba(247, 203, 112, 0.18);
  }
  50% {
    background-color: transparent;
  }
  75% {
    background-color: rgba(247, 203, 112, 0.18);
  }
  100% {
    background-color: transparent;
  }
}
#edit #profile-details .owner-update-password {
  position: relative;
}
#edit #profile-details .owner-update-password button {
  position: absolute;
  top: 32px;
}/*# sourceMappingURL=edit.css.map */